$palette-black: #000000;
$palette-dark_red: #820000;
$palette-dark_green: #008200;
$palette-dark_yellow: #828200;
$palette-dark_blue: #000082;
$palette-dark_magenta: #820082;
$palette-dark_cyan: #008282;
$palette-dark_gray: #828282;
$palette-gray: #c3c3c3;
$palette-red: #ff0000;
$palette-green: #00ff00;
$palette-yellow: #ffff00;
$palette-blue: #0000ff;
$palette-magenta: #ff00ff;
$palette-cyan: #00ffff;
$palette-white: #ffffff;