@use 'palette';

html {
  margin: 0;
  width: 100%;
  height: 100%;
  background: black;
  overflow: hidden;
  display: flex;
  align-items: center;
  justify-content: center;
}

body {
  width: 640px;
  height: 480px;
  background: palette.$palette-gray;
}